 .Card-wrapper {
    margin: 10px;
    border: 1.5px dashed #093145;
    width: 200px;
    border-radius: 1.5rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Card-wrapper:hover {
    background-color: rgb(243, 242, 242);
  }
  
  .Card-header {
    background-color: #156a945d;
    color: #333333;
    height: 80px;
    white-space: nowrap;
  }
  
  .Card-avatar {
    height: 70%;
    margin: 10px;
    display: inline-block;
  }
  
  .Card-name {
    position: relative;
    display: inline-block;
    vertical-align: 2em;
  }

  .Card-label-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px 5px 20px;
  }