.Home {
  text-align: left;
  white-space: nowrap;
}

.Home-logo {
  width: 300px;
  display: inline-block;
}

.Home-header {
  padding: 20px;
  color: #ffffff;
  background: rgb(39, 1, 1);
}

.Home-content {
  white-space: nowrap;
  font-family: monospace;
}

.Home-title-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  margin-top: 30px;
}

.Home-title {
  font-family: 'Futura PT', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 120px;
  letter-spacing: -0.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.button-wrapper {
  text-align: center;
}

.button {
  display: inline-grid;
  margin: 15px;
}

.divider {
  display: inline;
  border-left: 1px solid black;
}

.plus {
  display: inline;
}