.Home {
  text-align: left;
  white-space: nowrap;
}

.Home-logo {
  width: 300px;
  display: inline-block;
}

.Home-header {
  padding: 20px;
  color: #ffffff;
  background: linear-gradient(to right, #000000 0%,#156a94 80%);
}

.Home-content {
  white-space: nowrap;
  font-family: monospace;
  max-width: 1800px;
  margin-left: 20px;
}

.Home-title-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  margin-top: 30px;
}

.Home-title {
  font-family: 'Futura PT', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 120px;
  letter-spacing: -0.1rem;
  margin-bottom:  0;
}

.Home-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.Home-filter-wrapper {
  margin-left: 30px;
  text-align: center;
}

.Home-filter-label {
  display: inline-grid;
}
.Home-filter-button {
  display: inline-grid;
  margin: 15px;
}

.Home-divider {
  display: inline;
  border-left: 1px solid black;
}

.Home-plus {
  display: inline;
}